[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = leefreemanxyz
	email = lee.freeman1@gmail.com
[core]
	excludesfile = /Users/leefreeman/.gitignore_global
	editor = subl -n -w
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
[push]
	default = upstream
[merge]
	conflictstyle = diff3
